.img-atendimento {
    height: 200px;
    width: 286px;
    object-fit: cover;
}

.titulo-atendimento {
    text-align: center;
}

.texto-atendimento {
    text-align: justify;
    text-indent: 10%;
}