body{
    background-color: var(--cor1);
}

main{
    padding-top: 40px;
    margin-bottom: 50px;
}

p{
    text-indent: 30px;
    text-align: justify;
}

.dicas{
    text-align: center;
    padding: 10px;
}


.card{
    min-width: 300px;
}

.container{
    margin-top: 40px;
}

.card-img{
    height: 100%;
    max-height: 280px;
    object-fit: cover;
    object-position: 0 55%;
}

.btn-style{
    background-color: var(--cor1);
    border-color: var(--cor1);
    width: 120px;
    margin-right: 20px;
    margin-left: auto;
}

.btn-style:hover{
    background-color: var(--cor2);
    border-color: var(--cor2);
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.modal-header{
    background-color: var(--header);
}

.modal-body{
    background-color: var(--cor1);
}

.modal-footer{
    background-color: var(--header);
}

.modal-title{
    font-size: 30px;
    color: var(--cor1);
}

@media (max-width: 990px){
    .img-horizontal{
        object-position: -100px 0;
    }
}

@media (max-width: 768px){
    .img-horizontal{
        object-position: 0 0;
    }
}