body{
    background-color: var(--cor1);
}

main{
    padding-top: 40px;
}

p{
    text-indent: 30px;
    text-align: justify;
}

.dicas{
    text-align: center;
    padding: 10px;
}


.card{
    min-width: 300px;
}

.container{
    margin-top: 40px;
    max-height: 800px;
}

.img{
    max-height: 300px;
    object-fit: cover;
    object-position: 0 0;
}

.img-2{
    max-height: 400px;
    object-fit: cover;
    object-position: 0 0;
}

.card-img{
    height: 100%;
}

.btn-style{
    background-color: var(--cor1);
    border-color: var(--cor1);
    width: 120px;
}

.btn-style:hover{
    background-color: var(--cor2);
    border-color: var(--cor2);
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
