:root {
	--cor1: #e9dccd;
	--cor2: #e3bab3;
	--cor3: #613a43;
	--cor4: #849974;
	--cor5: #36384c;
}

#footer {
	position: relative;
	background-color: #2f3f58;
	color: var(--cor1);
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 120px;
	bottom: 0px;
	z-index: 1030;
}

.nav-link {
	text-decoration: none;
	color: var(--cor1);
}

.nome-CRN {
	font-weight: bold;
	text-align: center;
	padding: 2%;
	font-size: 20px;
}

.redes-sociais {
	text-align: center;
}

.siga-me {
	padding-top: 15px;
	text-align: center;
}

.icon {
	width: 50px;
	margin-right: 10px;
	margin-bottom: 10px;
	fill: var(--cor1);
}

@media (max-width: 750px) {
	#footer {
		flex-direction: column;
		height: 300px;
		align-items: center;
	}

	#footer .logo {
		padding: 0px;
		margin: 20px 0 20px 0 !important;
	}
}
