body {
	background-color: white;
}

.carousel-item {
	height: 600px;
}

.imgPosition {
	object-fit: cover;
	object-position: 0 -9rem;
	width: 100%;
}

.div-background {
	height: 50%;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: black;
}

.ancora{
	height: 1px;
	width: 100%;
}

.sobreMim {
	width: 90%;
	border: none;
	margin-top: 95px;
}

.tt-julia{
	text-align: center;
}

.img-sb {
	margin-top: 100px;
	height: 70%;
	object-fit: cover;
}

.text-sb {
	font-size: 20px;
	margin-right: 2rem;
}

.main-titulo-att {
	width: -webkit-fill-available;
	margin-left: 15px;
    padding-bottom: 15px;
}

.texto-julia {
	text-align: justify;
}
.atendimento{
	margin: 95px auto 0px;
	padding: 3rem 3rem;
}

.card{
	min-width: 300px;
}

.card-deck {
	background-color: var(--cor1);
}

.img-atendimento {
	object-fit: cover;
}

.titulo-atendimento {
	text-align: center;
}

.texto-atendimento {
	text-indent: 30px;
	text-align: justify;
}

.contato {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 95px;
}

#map {
	width: 45%;
	margin: 0px auto 50px;
}

#contact-list {
	width: 45%;
	margin: 0px auto 50px;
	list-style-type: none;
	text-align: center;
}

#contact-list-mobile {
	display: none;
}

#contact-list li {
	margin: 30px 0;
	font-size: 25px;
}

.contact-icon {
	width: 25px;
	height: 25px;
}

#bar {
	border-right: 2px solid var(--cor1);
	height: 350px;
}

.whats {
	text-align: center;
	position: fixed;
	right: 40px;
	bottom: 55px;
	z-index: 1;
}

.whats a img {
	width: 60px;
	height: 60px;
	transition: 1s;
}

.whats a img:hover{
	width: 80px;
	height: 80px;
	transform: rotate(15deg);
}

.whats a {
	text-decoration: none;
}

.whats a:hover {
	text-decoration: underline;
	color: #613a43;
}

.whats-texto{
	display: none;
	text-align: center;
	position: fixed;
	right: 35px;
	bottom: 40px;
	z-index: 1;
	font-size: 10px;
	transition: 1s;
}

@media (max-width: 1250px) {
	.atendimento{
		padding: 3rem 2.5rem;
	}

	.carousel-item {
		height: 400px;
	}

	.imgPosition {
		object-position: 0 -9rem;
	}

	#map {
		padding: 0;
		margin: 50px auto;
		width: 80%;
	}

	#bar {
		border-bottom: 2px solid var(--cor1);
		border-right: none;
		width: 95%;
		height: auto;
	}

	.contato {
		flex-direction: column-reverse;
	}

	#contact-list {
		text-align: center;
		min-width: 80%;
		border-left: 0;
	}

}

@media (max-width: 750px) {
	.atendimento{
		padding: 3rem 2rem;
	}

	.imgPosition {
		object-position: 0 -9rem;
	}

	#map {
		width: 95%;
		padding: 0;
		border: 0;
		margin: 50px auto 50px;
		min-width: auto;
	}

	.contato {
		flex-direction: column-reverse;
	}

	#contact-list {
		text-align: center;
		width: 95%;
	}	

	.text-sb {
		padding:0em!important;
	}
	
	.sobreMim {
		width: auto;
	}
}

@media (max-width: 650px) {
	.atendimento{
		padding: 3rem 1rem;
	}

	#contact-list li {
		font-size: 20px;
	}

	.imgPosition {
		object-position: 0 -9rem;
		height: 100%;
	}
}

@media (max-width: 460px){
	.atendimento{
		padding: 3rem 0.5rem;
	}

	#contact-list {
		display: none;
	}
	
	#contact-list-mobile {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		width: 100%;
	}

	.contact-icon-mobile {
		width: 40%;
		margin: 10px 30%;
	}

	.contact-icon-li {
		width: 50%;
		margin: 10px auto;
	}

}

@media (min-width: 576px) and (max-width: 991.98px) {
	.att {
		flex-direction: column;
		align-items: center;
	}

	.titulo-atendimento {
		font-size: larger;
	}

	.text-sb{
		padding:0em!important;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.img-atendimento {
		max-height: 12rem;
	}


}
