
body {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}


.carousel-item {
    height: 400px;
}

.imgPosition{    
    object-fit: cover;
    object-position: 0px -380px;
}


.sobreMim {
	width: 65%;
	border-width: 2px;
	border-radius: 3px;
	border-color: var(--cor3);
	border-style: solid;
	background-color: var(--cor1);
}

.card-deck{
	background-color: var(--cor1);
}

.whats {
	text-align: center;
	position: fixed;
	right: 40px;
	bottom: 80px;
}

.whats a img {
	width: 60px;
	height: 60px;
}

.whats a{
	text-decoration: none;
}

.whats a:hover{
	text-decoration: underline;
}

.whats .texto-whats{
	color: black;
	font-weight: bold;
	font-size: 13px;
	font-family: Source Sans Pro;
}


footer {
	background-color: var(--cor3);
	display: flex;
	justify-content: space-around;
}

.logo-rodape {
	width: 20%;
	margin: 3px;
	padding: 20px;
}

.nome-CRN {
	font-weight: bold;
	text-align: center;
	padding: 2%;
	font-size: 20px;
}

.redes-sociais {
	text-align: center;
}

.siga-me {
	padding: 15px;
	text-align: center;
}

.icon {
	width: 50px;
	margin-right: 10px;
	margin-bottom: 10px;
}
