:root {
	--cor1: #e9dccd;
	--cor2: #e3bab3;
	--cor3: #613a43;
	--cor4: #849974;
	--cor5: #36384c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--cor1);
}

header {
	background-color: var(--cor2);
	position: fixed;
	width: 100%;
}

.nav {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: 0 auto;
}

#logo {
	width: 200px;
	height: 40px;
	margin-top: 10px;
}

header nav {
	display: flex;
	align-items: center;
}

header a {
	font-size: 25px;
	padding: 5px;
	text-decoration: none;
	color: var(--cor3);
	flex-wrap: nowrap;
}

header a:hover {
	text-decoration: underline;
	color: var(--cor5);
}

header nav span {
	font-size: 30px;
	color: var(--cor3);
}

.degrade {
	width: 100%;
	height: 20px;
	background: linear-gradient(var(--cor2), var(--cor1));
}

#home {
	height: 300px;
	width: 100%;
}

#sobre-mim {
	width: 80%;
	display: flex;
	margin: 100px auto;
	align-items: center;
	justify-content: space-around;
}

#sobre-mim .conteudo-sobre-mim {
	margin: 0 15px;
}

#sobre-mim #titulo-sobre-mim {
	font-size: 30px;
	color: var(--cor5);
}

#sobre-mim #box-sobre-mim {
	margin: 20px 50px 30px 0;
	padding: 20px;
	border-width: 2px;
	border-radius: 3px;
	border-color: var(--cor3);
	border-style: solid;
	background-color: var(--cor2);
}

#sobre-mim #box-sobre-mim p {
	font-size: 20px;
	color: var(--cor5);
}

#atendimento .grupos {
	width: 90%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin: 100px auto;
}

#atendimento .grupos img {
	width: 100%;
	height: 150px;
}

#atendimento .grupos .grupo {
	width: 28%;
	margin: 15px;
}

#atendimento .grupos h3 {
	margin: 15px;
}

.whats {
	position: fixed;
	right: 40px;
	bottom: 40px;
}

.whats a img {
	width: 50px;
	height: 50px;
}

#atendimento {
	height: 400px;
}

#contato {
	width: 70%;
	padding: 20px;
	margin: 10px auto;
	font-family: Nixie One;
	font-style: normal;
	font-weight: normal;
}

form {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--cor3);
}

form input,
form textarea {
	width: 70%;
	margin-top: 20px;
	height: 40px;
	border: none;
	border-bottom: 2px solid #efe8d8;
	align-self: center;
	background-color: #fcf4e3;
	font-size: 15px;
	line-height: 18px;
	padding: 8px;
}

form input,
form textarea::placeholder {
	font-family: Source Sans Pro;
	font-style: italic;
}

form textarea {
	resize: none;
}

#message {
	height: 240px;
}

#send {
	background-color: var(--cor3);
	width: 40%;
	align-self: center;
	color: var(--cor1);
	border-radius: 5px;
	margin-bottom: 20px;
}

footer {
	background-color: var(--cor3);
	display: flex;
	justify-content: space-around;
}

#logoRodape {
	width: 20%;
	margin: 3px;
	padding: 20px;
}

.nomeCRN {
	font-weight: bold;
	text-align: center;
	padding: 2%;
	font-size: 20px;
}

.redesSociais {
	text-align: center;
}

#sigaMe {
	padding: 15px;
	text-align: center;
}

#icon {
	width: 50px;
	margin-right: 10px;
	margin-bottom: 10px;
}
